@media all and (max-width:767px) {
    .box-link {
        width: 150px;
        height: 40px;
        line-height: 40px;
        background-color: white;
        font-size: 12px;
        letter-spacing: 1.5px;
        border-color: rgb(117, 161, 62) !important;
        font-family: "futura-pt", sans-serif;

    }

    .box-link::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgb(117, 161, 62);
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        position: absolute;
        z-index: -1;
        left: 0;
    }

    .box-link:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        color: white;


    }

    .main-heading {
        width: 541px;
        margin-bottom: 120px;
    }
}

/* 
@media all and (min-width:768px) and (max-width:990px) {
    .box-link {
        width: 150px;
        height: 40px;
        line-height: 40px;
        background-color: white;
        font-size: 12px;
        letter-spacing: 1.5px;
        border-color: rgb(117, 161, 62) !important;
        font-family: "futura-pt", sans-serif;

    }

    .box-link::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgb(117, 161, 62);
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        position: absolute;
        z-index: -1;
        left: 0;
    }

    .box-link:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        color: white;


    }
} */
body {
    width: 100%;
    height: 1000vh;
}

.box-link {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    font-size: 11px;
    color: rgb(29, 73, 52);
    letter-spacing: 1.5px;
    border-color: rgb(117, 161, 62) !important;
    font-family: "futura-pt", sans-serif;

}
.box-link-end {
    width: 139px;
    height: 41px;
    line-height: 40px;
    background-color: white;
    font-size: 11px;
    color: rgb(29, 73, 52);
    letter-spacing: 1.5px;
    border-color: rgb(117, 161, 62) !important;
    font-family: "futura-pt", sans-serif;

}

.box-link::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(117, 161, 62, 0.9);
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.box-link:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    color: white;
}

.box-link1 {
    width: 167px;
    height: 41px;
    line-height: 40px;
    background-color: transparent;
    font-size: 11px;
    letter-spacing: 1.5px;
    border-color: rgb(117, 161, 62) !important;
    font-family: "futura-pt", sans-serif;

}

.box-link1::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(117, 161, 62, 0.9);
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.box-link1:hover {
    color: white;
}

.box-link1:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.w-img {
    width: 570px;
    height: 300px;
}

.w-img-man {
    width: 760px;
    height: 400px;
}

/* .pic{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} */

.w-img:hover .pic {

    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.content-box {
    width: 570px;
    height: 284px;
}

.text-box {
    width: 484px;
    height: 166px;
}

h3,
h6,
p {
    font-stretch: 100%;
}

.text-h6 {
    font-size: 13px;
    color: rgb(99, 139, 24);
    font-weight: 700px;
    letter-spacing: 2px;
    line-height: 15px;
    margin-bottom: 10px;
    font-family: "futura-pt", sans-serif;

}

.text-h3 {
    color: rgb(29, 73, 52);
    font-weight: 400px;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: "futura-pt", sans-serif;
}

.paragraph {
    font-family: adobe-garamond-pro, serif;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
}

h2 {
    letter-spacing: 1px;
    font-weight: 400;
}

.our-product {
    margin-top: 104px;
    margin-bottom: 98px;
}

.item-box {
    width: 392px;
    height: 296px;
    /* background-color: pink; */
    top: 100px;
}

.border-color-all {
    border-color: rgb(32, 64, 56) !important;
}

.bg-box {
    background-color: #1d4934;
}

#spacing {
    letter-spacing: 4px;
    font-weight: 400;
}

.text-box-item1 {
    font-family: "adobe-garamond-pro", serif;
    line-height: 36px;
    margin-bottom: 35px;
    letter-spacing: 0.64px;
    font-weight: 400;
}

.zoom-product {
    width: 283px;
    height: 446px;
}

.zoom-man,
.zoom-woman {
    height: 400px;
}

.pic-product {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pic-man {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.pic-woman {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pic-product,
.pic,
.pic-man,
.pic-woman,
.pic-factory,.pic-factory-gril,.Dimensions-img {
    -webkit-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s;
}

.zoom-product:hover .pic-product {

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.zoom-man:hover .pic-man {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.zoom-woman:hover .pic-woman {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.content-item {
    width: 283px;
    height: 76px;
    top: 42px;
}

.h3-product {
    color: #1d4934 !important;
    font-size: 20px !important;
    margin-bottom: 20px;
    letter-spacing: 2.2px;
    line-height: 30px;
    font-weight: 400;
}

.view-item {
    font-size: 12px;
    font-family: futura-pt, sans-serif;
    color: rgb(99, 148, 36) !important;
    letter-spacing: 2.5px;
    -webkit-transition: all 300ms ease-out 0;
    transition: all 300ms ease-out 0;
}

.view-item:hover {
    color: #1d4934;
}

.paragraph-content {
    font-family: "adobe-garamond-pro", serif;
    letter-spacing: 1.5px;
    line-height: 49px;
    font-weight: 400;
    margin-right: 300px;
    margin-left: 300px;
}

.w-item {
    width: 43%;
    left: 85px;
}

.margin-bot {
    margin-bottom: 60px;
}

.space {
    letter-spacing: 4px;
}

.text-content {
    height: 250px;
}

.text-content {
    padding: 30px 42px;
}

.green-pic1 {
    right: 12px;
    background-color: #1d492e;
    background-image: url(../images/14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-content {
    width: 300px;
    height: 280px;
}

.h3-virtualspace,
.h3-virtualspace-end {
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 30px !important;
    font-family: futura-pt, sans-serif;
}

.h3-virtualspace::after {
    content: " ";
    display: block;
    width: 45px;
    height: 2.5px;
    margin-top: 30px;
    /* margin: auto; */
    position: absolute;
    background-color: #639424;
}

.fb {
    background: url(../images/social-icons.png) -73px 3px;
    /* background-position: -67px -4px; */
}

.green-pic2 {
    height: 651px;
    left: 12px;
    background-color: #1d492e;
    background-image: url(../images/15.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.paragraph-green-box {
    font-family: "garamond-premier-pro", serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.box-more {
    width: 139px;
    height: 41px;
    font-size: 11px;
    line-height: 40px;
    background-color: transparent;
    font-size: 11px;
    letter-spacing: 1.5px;
    border-color: rgb(117, 161, 62) !important;
    font-family: "futura-pt", sans-serif;
}


.box-more::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(117, 161, 62, 0.5);
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.box-more:hover::before {
    color: white;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.green-pic3 {
    height: 651px;
    right: 12px;
    background-color: #1d492e;
    background-image: url(../images/18.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .test{
    width: 380px;
    height: 320px;
} */
.zoom-factory {
    width: 380px;
    height: 286px;
}

.pic-factory {
   
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.zoom-factory:hover .pic-factory {

    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.pic-factory-gril {
   
    -webkit-transform: scale(1);
    transform: scale(1);
}

.zoom-factory:hover .pic-factory-gril {

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.content-box-factor{
    width: 380px;
    height: 286px;
    padding: 25px 35px;
}

.h3-factory {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: rgb(29, 73, 52);
    font-family: futura-pt, sans-serif;
}

.paragraph-factory{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 26px;
    font-family: "adobe-garamond-pro", serif;
}
.date{
    font-size: 12px;
    font-weight: 700;
    font-family: futura-pt, sans-serif;
    letter-spacing: 2.2px;
    color: rgb(99, 139, 24);
}
.date:hover{
    color: black;
}
/* .Dimensions{
    width: 380px;
    height: 606px;
}
.zoom{
    height: 286px;
}
.Dimensions-img{
    -webkit-transform:scale(1.1) ;
   transform: scale(1.1);
}

.zoom:hover .Dimensions-img{
    -webkit-transform:scale(1.2) ;
    transform: scale(1.2);
} */
.box-link-end {
    width: 139px;
    height: 41px;
    line-height: 40px;
    background-color: white;
    font-size: 11px;
    color: rgb(29, 73, 52);
    letter-spacing: 1.5px;
    border-color: rgb(117, 161, 62) !important;
    font-family: "futura-pt", sans-serif;
    

}

.box-link-end::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(117, 161, 62, 0.9);
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.box-link-end:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    color: white;
}


@media all and (min-width:768px) {


    .header {
        width: 100%;
        height: 110px;
        background-color: white;
        top: 0;
        padding-top: 20px;
        z-index: 2;
    }

    .header-main {
        width: 1000px;
        height: 90px;
        background-color: aqua;

    }

    .logo {
        width: 137px;
        height: 80px;
        background-color: red;

    }

    .link-logo {
        width: 137px;
    }

    .w-logo {
        width: 100%;
    }

    .header-menu {
        width: 762px;
        height: 90px;
        background-color: greenyellow;
    }

    .top-menu {
        width: 762px;
        height: 42px;
        background-color: blanchedalmond;
    }

    ul {
        list-style-type: none;
        list-style-position: outside;
    }

    .left-top-li {
        width: 89px;
        height: 42px;
        margin-right: -15px;
    }

    .right-top-li {
        width: 112px;
        height: 42px;
        margin-right: -15px;
    }


    .outward-top-menu {
        font-size: 10px;
        font-weight: 400;
        color: rgb(29, 73, 52);
        font-family: futura-pt, sans-serif;
        letter-spacing: 0.9px;
        padding-bottom: 20px;
        padding-right: 20px;
        -webkit-transition: all 200ms ease-out 0s;
        transition: all 200ms ease-out 0s;
    }

    .outward-top-menu:hover {
        color: #638b18;
    }

    .bottom-menu {
        width: 762px;
        height: 48px;
        background-color: lightsalmon;
    }

    .pc-menu {
        width: 742px;
        height: 48px;
        background-color: aliceblue;
    }

    .ul-pc-menu {
        width: 605px;
        height: 48px;
        background-color: lightgray;
    }

    .li-pc-menu {
        height: 59px;
    }

    .outward-bottom {
        font-family: futura-pt, sans-serif;
        font-size: 12px;
        font-stretch: 100%;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: rgb(29, 73, 52);
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;


    }

    .outward-bottom:hover {
        color: rgb(99, 139, 24);
    }

    .menu-item::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        bottom: 30px;
        background-color: rgb(99, 139, 24);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .menu-item:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .shop-button {
        font-size: 13px;
        font-weight: 700px;
        font-family: futura-pt, sans-serif;
        text-transform: uppercase;
        color: rgb(99, 139, 24);
        letter-spacing: 1.5px;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .shop-button:hover {
        color: rgb(99, 139, 24);
    }

    .shop-button::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        bottom: 30px;
        background-color: rgb(99, 139, 24);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .shop-button:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .search-icon {
        color: rgb(29, 73, 52);

    }

    .back-video {
        z-index: -20;
    }

    .main-heading {
        width: 541px;
        height: 550px;
        margin-bottom: 58px;
        margin-top: -50px;

    }

    .main-title {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .font-heading {
        font-family: "futura-pt", sans-serif;
        font-stretch: 100%;
    }

    .font-weight1 {
        font-weight: 400px;
        letter-spacing: 1.5px;
        line-height: 25px;
    }

    .font-weight2 {
        font-size: 60px;
        font-weight: 700px;
        letter-spacing: 5px;
        line-height: 78px;
    }

    .font-weight3 {
        font-weight: 600px;
        line-height: 45px;
        margin-bottom: 32px;
    }




}