@media all and (max-width:767px) {}

@media all and (min-width:768px) and (max-width:990px) {}

@media all and (min-width:991px) {
    body {
        width: 100%;
        height: 1000vh;
    }

    .header {
        width: 100%;
        height: 110px;
        background-color: white;
        top: 0;
        padding-top: 20px;
    }

    .header-main {
        width: 1000px;
        height: 90px;
        background-color: aqua;

    }

    .logo {
        width: 137px;
        height: 80px;
        background-color: red;

    }

    .link-logo {
        width: 137px;
    }

    .w-logo {
        width: 100%;
    }

    .header-menu {
        width: 762px;
        height: 90px;
        background-color: greenyellow;
    }

    .top-menu {
        width: 762px;
        height: 42px;
        background-color: blanchedalmond;
    }

    ul {
        list-style-type: none;
        list-style-position: outside;
    }

    .left-top-li {
        width: 89px;
        height: 42px;
        margin-right: -15px;
    }

    .right-top-li {
        width: 112px;
        height: 42px;
        margin-right: -15px;
    }

    a {
        text-decoration: none;
    }

    .outward-top-menu {
        font-size: 10px;
        font-weight: 400;
        color: rgb(29, 73, 52);
        font-family: futura-pt, sans-serif;
        letter-spacing: 0.9px;
        padding-bottom: 20px;
        padding-right: 20px;
        -webkit-transition: all 200ms ease-out 0s;
        transition: all 200ms ease-out 0s;
    }

    .outward-top-menu:hover {
        color: #638b18;
    }

    .bottom-menu {
        width: 762px;
        height: 48px;
        background-color: lightsalmon;
    }

    .pc-menu {
        width: 742px;
        height: 48px;
        background-color: aliceblue;
    }

    .ul-pc-menu {
        width: 605px;
        height: 48px;
        background-color: lightgray;
    }

    .li-pc-menu {
        height: 59px;
    }

    .outward-bottom {
        font-family: futura-pt, sans-serif;
        font-size: 12px;
        font-stretch: 100%;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(29, 73, 52);
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;


    }

    .outward-bottom:hover {
        color: rgb(99, 139, 24);
    }

    .outward-bottom::after {
        content: "";
        display: block;
        /* width:100%; */
        height: 1px;
        position: absolute;
        bottom: 30px;
        background-color: rgb(99, 139, 24);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .outward-bottom:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .shop-button {
        font-size: 13px;
        font-weight: 700px;
        font-family: futura-pt, sans-serif;
        text-transform: uppercase;
        color: rgb(99, 139, 24);
        letter-spacing: 1.5px;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .shop-button:hover {
        color: rgb(99, 139, 24);
    }

    .shop-button::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        bottom: 30px;
        background-color: rgb(99, 139, 24);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .shop-button:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .search-icon {
        /* font-size: 14px; */
        color: rgb(29, 73, 52);

    }
    .back-video{
        z-index: -20;
    }

    .main-heading {
        height: 550px;
        
    }

    /* .video video {
        width: 100%;
    }

    h1,
    h2,
    h6 {
        text-align: center;
        font-family: sans-serif;
        color: white;
        padding-bottom: 10px;
    }

    .margin-t {
        margin-top: 30px;

    }

    .font-h1 {
        font-size: 66px;
        letter-spacing: 1.5px;

    } */





}