@media all and (max-width:767px) {
    .box-link {
        width: 150px;
        height: 40px;
        line-height: 40px;
        background-color: white;
        font-size: 12px;
        letter-spacing: 1.5px;
        border-color: rgb(117, 161, 62) !important;
        font-family: "futura-pt", sans-serif;

    }

    .box-link::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgb(117, 161, 62);
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        position: absolute;
        z-index: -1;
        left: 0;
    }

    .box-link:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        color: white;


    }
    .main-heading {
        width: 541px;
        margin-bottom: 120px;
    }
}

/* 
@media all and (min-width:768px) and (max-width:990px) {
    .box-link {
        width: 150px;
        height: 40px;
        line-height: 40px;
        background-color: white;
        font-size: 12px;
        letter-spacing: 1.5px;
        border-color: rgb(117, 161, 62) !important;
        font-family: "futura-pt", sans-serif;

    }

    .box-link::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgb(117, 161, 62);
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        position: absolute;
        z-index: -1;
        left: 0;
    }

    .box-link:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        color: white;


    }
} */
body {
    width: 100%;
    height: 1000vh;
}

.box-link {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    font-size: 11px;
    color: rgb(29, 73, 52);
    letter-spacing: 1.5px;
    border-color: rgb(117, 161, 62) !important;
    font-family: "futura-pt", sans-serif;

}

.box-link::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(117, 161, 62, 0.9);
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.box-link:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    color: white;
}

.w-img {
    width: 570px;
    height: 300px;
}

.pic {
    -webkit-transition: all 200ms ease 0s;
    transition: all 300ms ease 0s;
}

.w-img:hover .pic {

    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.content-box {
    width: 570px;
    height: 284px;
}

.text-box {
    width: 484px;
    height: 166px;
    /* background-color: lightblue; */
}
h3,h6,p{
    font-stretch: 100%;
}

.text-h6 {
    font-size: 13px;
    color: rgb(99, 139, 24);
    font-weight: 700px;
    letter-spacing: 2px;
    line-height: 15px;
    font-family: "futura-pt", sans-serif;

}

.text-h3 {
    color: rgb(29, 73, 52);
    font-weight: 400px;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: "futura-pt", sans-serif;
}
.paragraph{
    font-family: adobe-garamond-pro, serif;
    line-height: 30px;
}
h2{
    letter-spacing: 1px;
    font-weight: 400;
}
.item-box{
    width: 392px;
    height: 296px;
    background-color: pink;
    top: 100px;
}

@media all and (min-width:768px) {
   

    .header {
        width: 100%;
        height: 110px;
        background-color: white;
        top: 0;
        padding-top: 20px;
        z-index: 2;
    }

    .header-main {
        width: 1000px;
        height: 90px;
        background-color: aqua;

    }

    .logo {
        width: 137px;
        height: 80px;
        background-color: red;

    }

    .link-logo {
        width: 137px;
    }

    .w-logo {
        width: 100%;
    }

    .header-menu {
        width: 762px;
        height: 90px;
        background-color: greenyellow;
    }

    .top-menu {
        width: 762px;
        height: 42px;
        background-color: blanchedalmond;
    }

    ul {
        list-style-type: none;
        list-style-position: outside;
    }

    .left-top-li {
        width: 89px;
        height: 42px;
        margin-right: -15px;
    }

    .right-top-li {
        width: 112px;
        height: 42px;
        margin-right: -15px;
    }


    .outward-top-menu {
        font-size: 10px;
        font-weight: 400;
        color: rgb(29, 73, 52);
        font-family: futura-pt, sans-serif;
        letter-spacing: 0.9px;
        padding-bottom: 20px;
        padding-right: 20px;
        -webkit-transition: all 200ms ease-out 0s;
        transition: all 200ms ease-out 0s;
    }

    .outward-top-menu:hover {
        color: #638b18;
    }

    .bottom-menu {
        width: 762px;
        height: 48px;
        background-color: lightsalmon;
    }

    .pc-menu {
        width: 742px;
        height: 48px;
        background-color: aliceblue;
    }

    .ul-pc-menu {
        width: 605px;
        height: 48px;
        background-color: lightgray;
    }

    .li-pc-menu {
        height: 59px;
    }

    .outward-bottom {
        font-family: futura-pt, sans-serif;
        font-size: 12px;
        font-stretch: 100%;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgb(29, 73, 52);
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;


    }

    .outward-bottom:hover {
        color: rgb(99, 139, 24);
    }

    .menu-item::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        bottom: 30px;
        background-color: rgb(99, 139, 24);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .menu-item:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .shop-button {
        font-size: 13px;
        font-weight: 700px;
        font-family: futura-pt, sans-serif;
        text-transform: uppercase;
        color: rgb(99, 139, 24);
        letter-spacing: 1.5px;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .shop-button:hover {
        color: rgb(99, 139, 24);
    }

    .shop-button::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        bottom: 30px;
        background-color: rgb(99, 139, 24);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: left;
        -webkit-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
    }

    .shop-button:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .search-icon {
        color: rgb(29, 73, 52);

    }

    .back-video {
        z-index: -20;
    }

    .main-heading {
        width: 541px;
        height: 550px;
        margin-bottom: 58px;
        margin-top: -50px;

    }

    .main-title {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .font-heading {
        font-family: "futura-pt", sans-serif;
        font-stretch: 100%;
    }

    .font-weight1 {
        font-weight: 400px;
        letter-spacing: 1.5px;
        line-height: 25px;
    }

    .font-weight2 {
        font-size: 60px;
        font-weight: 700px;
        letter-spacing: 5px;
        line-height: 78px;
    }

    .font-weight3 {
        font-weight: 600px;
        line-height: 45px;
        margin-bottom: 32px;
    }
   .our-product{
    width: 1519px;
    height: 1600px;
    margin-top: 104px;
    margin-bottom: 98px;

   }

    









}